@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}


@layer base {
  :root {
    --background: 160 68% 99%;
    --foreground: 160 70% 5%;
    --muted: 160 39% 90%;
    --muted-foreground: 160 2% 39%;
    --popover: 160 68% 98%;
    --popover-foreground: 160 70% 4%;
    --card: 160 68% 98%;
    --card-foreground: 160 70% 4%;
    --border: 160 11% 91%;
    --input: 160 11% 91%;
    --primary: 160 84% 39%;
    --primary-foreground: 0 0% 100%;
    --secondary: 160 20% 86%;
    --secondary-foreground: 160 20% 26%;
    --accent: 160 20% 86%;
    --accent-foreground: 160 20% 26%;
    --destructive: 17 95% 27%;
    --destructive-foreground: 17 95% 87%;
    --ring: 160 84% 39%;
    --chart-1: 160 84% 39%;
    --chart-2: 160 20% 86%;
    --chart-3: 160 20% 86%;
    --chart-4: 160 20% 89%;
    --chart-5: 160 87% 39%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 160 32% 3%;
    --foreground: 160 34% 97%;
    --muted: 160 39% 10%;
    --muted-foreground: 160 2% 61%;
    --popover: 160 32% 4%;
    --popover-foreground: 160 34% 98%;
    --card: 160 32% 4%;
    --card-foreground: 160 34% 98%;
    --border: 160 11% 11%;
    --input: 160 11% 11%;
    --primary: 160 84% 39%;
    --primary-foreground: 0 0% 100%;
    --secondary: 160 9% 19%;
    --secondary-foreground: 160 9% 79%;
    --accent: 160 9% 19%;
    --accent-foreground: 160 9% 79%;
    --destructive: 17 95% 48%;
    --destructive-foreground: 0 0% 100%;
    --ring: 160 84% 39%;
    --chart-1: 160 84% 39%;
    --chart-2: 160 9% 19%;
    --chart-3: 160 9% 19%;
    --chart-4: 160 9% 22%;
    --chart-5: 160 87% 39%;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
